﻿@using Entity_RSHIPs.Models
@model Entity_RSHIPs.Models.SeededFolder

@if (Model.Folders.Any(s => s.Parent_Id == Model.Seed))
{
    <ul>
        @foreach (var node in Model.Folders)
        {
            if (node.Parent_Id == Model.Seed)
            {
                if (node.Subfolders.Count > 0)
                {
                    SeededFolder inner = new SeededFolder { Seed = node.Id, Folders = Model.Folders };
                    <li><a href="?@node.Id">@node.Name</a>
                        @Html.Partial("_RootFolders", inner)
                    </li> 
                }
                else
                {
                    <li><a href="?@node.Id">@node.Name</a></li> 
                }
                
               
            }
        }
    </ul>
}